.controls {
  display: flex;
  justify-content: center;

  .button {
    padding: .75rem 3rem;
  }

  .button:first-child {
    margin-right: 1.5rem;
  }
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: none;
}
